h1, h2, h3, h4, h5, h6 {
    color: #7d170e;
    font-family: 'Futura Medium', sans-serif;
    text-align: center
    letter-spacing: 1.5px; ss
}

header img {
    width: 100px;
    height: auto;
}


p, div {
    font-family: 'Futura', sans-serif;
    font-size: 16px;
}


.widget-label {
    color: #333;
}

.widget-button {
    background-color: #7d170e;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Futura Medium', sans-serif;
    font-size: 16px;
    margin: 4x 4px;
    cursor: pointer;
    white-space: nowrap; 
    overflow: visible;
}

.widget-button:hover {
    background-color: #9c1d12;
}

.widget-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 2px 0;
    width: 100%;
}

.jp-TabBar-tab {
    padding: 2px;
    font-size: 5px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: auto;
    max-width: 500px; 
    min-width: 150px; 
}

.jp-TabBar-tabSelected {
    background-color: #4CAF50;
    color: white;
}

